.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  transition: var(--link_transition_hover);
}

.footer__column-link:hover {
  opacity: var(--link_opacity_hover);
}
