.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: var(--link-color);
  transition: var(--link_transition_hover);
}

.khan__buy-link:hover {
  opacity: var(--link_opacity_hover);
}
